[tool.poetry]
name = "ring-doorbell"
version = "0.8.7"
description = "A Python library to communicate with Ring Door Bell (https://ring.com/)"
authors = ["Marcelo Moreira de Mello <tchello.mello@gmail.com>"]
license = "LGPLv3+"
readme = "README.rst"
homepage = "https://github.com/tchellomello/python-ring-doorbell"
repository = "https://github.com/tchellomello/python-ring-doorbell"
documentation = "http://python-ring-doorbell.readthedocs.io/"
keywords = [
    "ring",
    "door bell",
    "camera",
    "home automation",
]
classifiers = [
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Home Automation",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "ring_doorbell" },
    { include = "tests", format = "sdist" },
]
include = [
    "LICENSE", 
    "CONTRIBUTING.rst", 
    "CHANGELOG.rst",
    "scripts/ringcli.py"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/tchellomello/python-ring-doorbell/issues"

[tool.poetry.scripts]
ring-doorbell = "ring_doorbell.cli:cli"

[tool.poetry.dependencies]
python = "^3.8"
requests = ">=2.0.0"
requests-oauthlib = ">=1.3.0,<2"
oauthlib = ">=3.0.0,<4"
pytz = ">=2022.0"
asyncclick = ">=8"
anyio = "*" # see https://github.com/python-trio/asyncclick/issues/18
sphinx = {version = "<7.2.6", optional = true}
sphinx-rtd-theme = {version = "^1.3.0", optional = true}
sphinx-github-changelog = {version = "^1.2.1", optional = true}
firebase-messaging = {version = "^0.2.0", optional = true}

[tool.poetry.group.dev.dependencies]
flake8 = "*"
mock = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
tox = "*"
pytest-asyncio = "*"
pytest-mock = "*"
black = "*"
pytest-socket = "^0.6.0"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme", "sphinx-github-changelog"]
listen = ["firebase-messaging"]

[tool.pytest.ini_options]
testpaths = [
    "tests"
]
norecursedirs = ".git"
asyncio_mode = "auto"
addopts = "--disable-socket --allow-unix-socket"
filterwarnings = [
    "ignore:.*google._upb._message.MessageMapContainer uses PyType_Spec.*:DeprecationWarning",
    "ignore:.*google._upb._message.ScalarMapContainer uses PyType_Spec.*:DeprecationWarning",
    "ignore:.*datetime.datetime.utcnow.*:DeprecationWarning"
]

[tool.coverage.run]
source = ["ring_doorbell"]
branch = true

[tool.ruff]
target-version = "py38"
select = [
  "E",  # pycodestyle
#  "D",  # pydocstyle
  "F",  # pyflakes
  "UP",  # pyupgrade
  "B",  # flake8-bugbear
  "SIM",  # flake8-simplify
  "I",  # isort
  "S",  # bandit
]
ignore = [
  "D105",  # Missing docstring in magic method
  "D107",  # Missing docstring in `__init__`
]

[tool.ruff.pydocstyle]
convention = "pep257"

[tool.ruff.per-file-ignores]
"tests/*.py" = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "F401",
    "S101", # allow asserts
    "E501", # ignore line-too-longs
]
"docs/source/conf.py" = [
    "D100",
    "D103",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
