name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  UV_VERSION: 0.4.17
  PACKAGE_NAME: ring_doorbell

jobs:
  linting:
    name: "Perform linting checks"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: "Checkout source files"
        uses: "actions/checkout@v4"
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
          uv-version: ${{ env.UV_VERSION }}
          uv-install-options: "--all-extras"
          cache-pre-commit: true
      - name: "Run pre-commit checks"
        run: |
          uv run pre-commit run --all-files --verbose

  docs:
    name: "Build docs"
    needs: linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: "actions/checkout@v4"
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
          uv-version: ${{ env.UV_VERSION }}
          uv-install-options: "--extra docs --no-dev"
      - name: Make docs uv
        run: |
          uv run make -C docs html

  tests:
    name: Tests - Python ${{ matrix.python-version}} on ${{ matrix.os }}
    needs: linting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "pypy-3.9", "pypy-3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
          # Exclude pypy on windows due to performance issues
          - os: windows-latest
            python-version: "pypy-3.9"
          - os: windows-latest
            python-version: "pypy-3.10"

    steps:
      - uses: "actions/checkout@v4"
      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
          uv-version: ${{ env.UV_VERSION }}
      - name: Run tests
        run: >
          uv run pytest tests/
          --cov=${{ env.PACKAGE_NAME }} --cov-report=xml
          --cov-report=term-missing --import-mode importlib

  finish:
    name: Finish coverage build
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Close parallel build
        uses: coverallsapp/github-action@v2.2.3
        with:
          parallel-finished: true
